<div class="pl-10 mt-10">
    <p>
        {{receivePerson}}，您好。样本库{{sendPerson}}，向您提出问题，请输入授权码（在给您的通知邮件中），查看问题详情。
    </p>
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">问题编号</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" [(ngModel)]="questionNo" name="questionNo" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">邮箱</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" [(ngModel)]="questionEmail" name="questionEmail" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">授权码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" [(ngModel)]="questionAccreditNo" [ngModelOptions]="{standalone: true}" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>