<div class="pl-10 mt-10">
    <p>
        朱昱，您好。样本库钟慧，向您提出问题，请输入授权码（在给您的通知邮件中），查看问题详情。
    </p>
    <p>
        注：授权码只能使用一次，一旦使用后将不能再次使用。
    </p>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">问题编号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="questionNo" name="first">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">授权码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="questionAccreditNo" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>