<div class="modal-header">
    <h4 class="modal-title">详情</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Q001.样本颜色程黄色，疑似尿液，怎么处理？</p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">确定</button>
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">取消</button>
</div>