<div class="mt-10">
    <h4 class="pl-16">2018-01-09</h4>
    <div class="ml-40 history-content">
        <p>【样本库-问题确认】项目：0029；问题类型：可以样本确认；相关样本：5只；回复人：朱昱；联系邮箱：yu.zhu@fwoxford.org；</p>
        <p class="pl-72">问题概述：有5只血浆样本，颜色为黄色。</p>
        <p class="pl-72">问题答复：<a>过期</a>；朱昱 未能在规定时间内（48小时）给予回复。
            <button class="btn btn-sm btn-default pull-right mr-100">详情</button>
        </p>
    </div>
</div>
<div class="mt-10">
    <h4 class="pl-16">2018-01-09</h4>
    <div class="ml-40 history-content">
        <p>【样本库-问题确认】项目：0029；问题类型：可以样本确认；相关样本：5只；回复人：朱昱；联系邮箱：yu.zhu@fwoxford.org；</p>
        <p class="pl-72">问题概述：有5只血浆样本，颜色为黄色。</p>
        <p class="pl-72">问题答复：请尽快答复，<a>1小时</a> 后过期。
            <button class="btn btn-sm btn-default pull-right mr-100">详情</button>
        </p>
    </div>
</div>