<div class="pl-10 mt-10 pr-10" style="position: relative">
    <p>
        <span class="f-w">提问人</span>：{{questionDetail.author}}；
        <span class="f-w">提问日期</span>：{{questionDetail.occurDate}}；
        <span class="f-w">问题类型</span>：{{questionTypeName}}；
        <span class="f-w">相关项目</span>：{{questionDetail.projectCode}}；
        <span class="f-w">相关单位</span>：{{questionDetail.relatedAgency}}；
    </p>
    <p>
        <span class="f-w">问题概述</span>：
        <br> {{questionDetail.questionSummary}}
    </p>
    <div>
        <span class="f-w">问题详情</span>：
        <pre class="descHtml">{{descHtml}}</pre>
    </div>
    <p *ngIf="!statusFlag">
        <span class="f-w">问题回复</span>：{{questionDetail.replyContent}}
    </p>
    <div style="position: absolute;top:-5px;right: 20px;" *ngIf="statusFlag">
        <span class="f-w red-color" style="display: inline-block;vertical-align: middle;">{{usedTime}}后过期</span>
        <button class="btn btn-sm btn-secondary " (click)="increaseTime()">申请加时</button>
    </div>
    <!--2302:其他问题 2303:IT技术问题-->
    <form [hidden] ="questionDetail.questionTypeCode !== '2302' && questionDetail.questionTypeCode !== '2303'">
        <hr>
        <div class="form-group">
            <label class="f-w">问题回复</label>
            <textarea class="form-control" rows="6" style="resize: none;" [(ngModel)]="questionDetail.replyContent" name="replyContent" required></textarea>
        </div>
    </form>


    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" (panelChange)="beforeChange($event)">
        <ngb-panel *ngFor="let item of questionDetail.questionItemDTOList index as i">
            <ng-template ngbPanelTitle class="p-0">
                <!--<i class="fa fa-plus"></i>-->
                <!--<i class="fa fa-minus"></i>-->
                <!--<a>{{ panelId == 'ngb-panel-'+ i && nextState ? '＋' : '－'  }}</a>-->
                <a class="text-ellipsis pull-left" style="width:80%;margin-top: 4px;margin-bottom:4px;" title="{{item.questionDescription}}">{{item.questionDescription}}</a>

                <div class="pull-right" style="width:10%;margin-top: 3px;">
                    <button class="btn btn-ssm btn-primary pull-right"
                            [hidden]="(questionDetail.status === '2403'|| questionDetail.status === '2404')" (click)="replyQuestionModal($event,item)">批量回复</button>
                </div>
                <div class="pull-right text-right" style="width:10%;margin-top: 5px">
                    共{{item.questionItemDetailsDTOS.length}}条数据
                </div>

                <div class=clear-both></div>
            </ng-template>
            <ng-template ngbPanelContent class="p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:3%"><input type="checkbox" [(ngModel)]="selectAll[item.id]" (change)="toggleAll(selectAll[item.id],selected[item.id])"></th>
                            <th style="width:8%">样本编码</th>
                            <th style="width:10%">样本类型</th>
                            <th style="width:5%">项目</th>
                            <th style="width:6%">项目点</th>
                            <th style="width:9%">PID</th>
                            <th style="width:9%">冻存盒</th>
                            <th style="width:9%">一维编码</th>
                            <th style="width:9%">接收盒子编码</th>
                            <th style="width:5%">孔位</th>
                            <th style="width:9%">处理方式</th>
                            <th style="width:auto">回复</th>
                            <th style="width:5%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item1 of item.questionItemDetailsDTOS">
                            <td><input type="checkbox" [(ngModel)]="selected[item.id][item1.id]" (change)="toggleOne(item.id)"></td>
                            <td>{{item1.sampleCode}}</td>
                            <td>{{item1.sampleClassificationName}}</td>
                            <td>{{item1.projectCode}}</td>
                            <td>{{item1.projectSiteCode}}</td>
                            <td>{{item1.patientId}}</td>
                            <td>{{item1.frozenBoxCode}}</td>
                            <td>{{item1.frozenBoxCode1D}}</td>
                            <td>{{item1.receiveBoxCode}}</td>
                            <td>{{item1.tubeRows}}{{item1.tubeColumns}}</td>
                            <td [ngClass]="{'red-color': item1.handleTypeCode == '2701', 'yellow-color': item1.handleTypeCode == '2703'}">{{item1.handleTypeName}}</td>
                            <td>
                                <div class="text-ellipsis" title="{{item1.replyContent}}" style="width:160px;height: 30px;line-height:30px;
                                white-space:nowrap" >{{item1.replyContent}}</div>
                            </td>
                            <!-- // 2401：已发送，2402:回复中，2403: 已回复，2404:已过期 -->
                            <td><button class="btn btn-ssm btn-primary" *ngIf="questionDetail.status === '2401' || questionDetail.status === '2402'" (click)="replySingleQuestionModal(item,item1)">回复</button></td>
                        </tr>

                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
