<div class="modal-header">
    <h4 class="modal-title">问题回复</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{questionDescription}}</p>
    <!-- novalidate属性会阻止浏览器使用原生HTML中的表单验证器 -->
    <!-- [ngModelOptions]="{standalone: true}" -->
    <form name="myForm" role="form" novalidate>
        <div class="form-group" style="position: relative;height: 60px;">
            <label>处理方式</label>
            <ng-selectize [options]="processOptions" [config]="processOptionsConfig" name="handleTypeCode" [(ngModel)]="handleTypeCode" style="position: absolute;
            width: 100%;
            top: 30px;
            left: 0;
            height: 35px;border-radius: 4px 0 0 4px;" required></ng-selectize>
            <input type="hidden" class="form-control" [(ngModel)]="handleTypeCode" name="handleTypeCode" required>
        </div>
        <div class="form-group" style="position: relative">
            <label>问题回复</label>
            <textarea class="form-control reasize-none" rows="6" [(ngModel)]="replyContent" name="replyContent" maxlength="1024" required></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok()">确定</button>
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss('Cross  click')">取消</button>
</div>