<div class="pl-10 mt-10" style="position: relative">
    <p>
        提问人：{{questionDetail.author}}； 提问日期：{{questionDetail.occurDate}}； 问题类型：{{questionTypeName}}； 相关项目：{{questionDetail.projectCode}}； 相关单位：{{questionDetail.relatedAgency}}；
    </p>
    <p>
        问题概述：{{questionDetail.questionSummary}}
    </p>
    <p>
        问题详情：{{questionDetail.questionDescription}}
    </p>
    <p *ngIf="questionDetail.status !== '2401' && questionDetail.status !== '2402'">
        问题回复：{{questionDetail.replyContent}}
    </p>
    <div style="position: absolute;top:0;right: 20px;" *ngIf="questionDetail.status === '2401' || this.questionDetail.status === '2402'">
        <span>{{usedTime}}后过期</span>
        <button class="btn btn-sm btn-secondary " (click)="increaseTime()">申请加时</button>
    </div>
    <form *ngIf="questionDetail.questionTypeCode == '2302' && (questionDetail.status === '2401' || questionDetail.status === '2402')">
        <hr>
        <div class="form-group">
            <label>问题回复</label>
            <textarea class="form-control" rows="6" style="resize: none;" [(ngModel)]="questionDetail.replyContent" name="replyContent" required></textarea>
        </div>
    </form>
</div>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let item of questionDetail.questionItemDTOList" id="ngb-panel-0">
        <ng-template ngbPanelTitle class="p-0">
            <span>{{item.questionDescription}}</span>
            <button class="btn btn-sm btn-light pull-right" *ngIf="questionDetail.status === '2401'" (click)="replyQuestionModal($event,item)">回复</button>
        </ng-template>
        <ng-template ngbPanelContent>
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" [(ngModel)]="selectAll[item.id]" (change)="toggleAll(selectAll[item.id],selected[item.id])"></th>
                        <th>样本编码</th>
                        <th>样本类型</th>
                        <th>项目</th>
                        <th>PID</th>
                        <th>冻存盒</th>
                        <th>孔位</th>
                        <th>处理方式</th>
                        <th>回复</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item1 of item.questionItemDetailsDTOS">
                        <td><input type="checkbox" [(ngModel)]="selected[item.id][item1.id]" (change)="toggleOne(item.id)"></td>
                        <td>{{item1.sampleCode}}</td>
                        <td>{{item1.sampleClassificationName}}</td>
                        <td>{{item1.projectCode}}</td>
                        <td>{{item1.patientId}}</td>
                        <td>{{item1.frozenBoxCode}}</td>
                        <td>{{item1.tubeRows}}{{item1.tubeColumns}}</td>
                        <td>{{item1.handleTypeName}}</td>
                        <td>
                            <div title="{{item1.replyContent}}" style="width:60px;height: 30px;overflow: hidden;text-overflow:ellipsis;
                            white-space:nowrap">{{item1.replyContent}}</div>
                        </td>
                        <!-- // 2401：已发送，2402:回复中，2403: 已回复，2404:已过期 -->
                        <td><button class="btn btn-sm btn-light" *ngIf="questionDetail.status === '2401'" (click)="replySingleQuestionModal(item,item1)">回复</button></td>
                    </tr>

                </tbody>
            </table>
        </ng-template>
    </ngb-panel>
</ngb-accordion>